.cate-name {
    overflow: hidden;
    text-overflow: ellipsis;
}

.categorycontent .category-item-container {
    display: flex !important;
    justify-content: center;
}

.category-item:nth-child(1) {
    background-color: #f0f0f0;
}

.category-item:nth-child(2) {
    background-color: #e0e0e0;
}

.category-item:nth-child(3) {
    background-color: #d0d0d0;
}

.categorycontent .category-item {
    border: 1px solid #000000;
    border-radius: 16px;
    padding: 25px;
    width: 98% !important;
    color: #111827;
}

.categorycontent .category-item .category-link {
    text-decoration: none;
    color: #111827;
    position: relative;
}

.categorycontent .category-item .category-link::before {
    content: "";
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    height: 100%;
    width: 2px;
    background-color: #111827;
}

.category-item {
    font-size: 14px;
}

.category-item p {
    margin-bottom: unset;
}

.category-name {
    font-size: 20px;
    font-weight: bold;
}

.title-1 {
    margin-right: 5px;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .categories .d-flex{
        flex-direction: column;
    }

    .title-1, .title-2 {
        font-size: 20px;
    }

    .category-item {
        font-size: 12px;
    }

    .category-name {
        font-size: 16px;
    }

    .categorycontent .category-item {
        padding: 15px;
    }
}