span.item-info {
    display: block;
    padding: 7px 0px;
    margin: 0;
}

span.item-info:hover {
    background: #EEEEEE;
}

span.item-info a {
    text-decoration: none;
    color: #343a40;
}

span.item-info i {
    color: #F5A623;
}

.img-avatar {
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 7px;
    right: 85px;
}

.navbar input.form-control {
    background-color: #F8F8F8;
    border: none;
}

a.btn.btn-secondary.rounded-circle._icon {
    border: none;
    background-color: transparent;
}

.logo-image {
    height: 60px;
}

.navbar-light .navbar-toggler-icon {
    background-image: url('./../../assets/images/hamburger-menu-icon.png');
}

.nav-item.dropdown:hover .dropdown-menu.show-on-hover {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.175);
    margin: 0 !important;
}

.dropdown-menu.show-on-hover li {
    margin-bottom: 5px;
}

/* ----------- RESPONSIVE ------------- */
@media (max-width: 768px) {
    .logo-image {
        height: 35px;
    }
}

.dropdown-item.sub-category {
    color: rgba(75, 85, 99, 0.8) !important;
    background-color: #fff !important;
}
.dropdown-item.sub-category:hover {
    background-color: #fff !important;
    box-shadow: none;
}

.categories-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    padding: 10px 0;
    background-color: #fff;
}

.category-item {
    flex: 0 0 auto;
    margin-right: 15px;
}

.category-item .nav-link {
    text-decoration: none;
    color: #343a40;
    font-weight: bold;
}

.category-item .nav-link:hover {
    color: #007bff;
    text-decoration: underline;
}

.list-categories {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .list-categories-container {
        display: flex;
        overflow-x: auto; /* Enable horizontal scrolling */
        white-space: nowrap;
        scrollbar-width: none; /* Optional: Customize scrollbar appearance */
    }

    .list-categories {
        display: contents;
    }
}